*{
    margin: 0;
    padding: 0;
}
body{
            display: flex;
            flex-direction: column;
            background-image: url("/imagenes/BBVA.jpg");
            background-repeat: no-repeat;
}