body{
            background-image: url("/imagenes/BBVA4.jpg");
            background-repeat: no-repeat;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
}
#Cashbox{
            width: 650px;
            height: 600px;
            background-color: rgb(123, 123, 123);
            border-radius: 43px;
            border-width: 2px;
            border-color:rgb(99, 99, 99);
            border-style: solid;
}
#Superior{
            width: 650px;
            height: 330px;
            display: flex;
}
#Inferior{
            width: 650px;
            height: 270px;
            display: flex;
}
#botizquierda{
            margin-top: 100px;
            margin-left: 15px;
            margin-right: 8px;
}
#titulo{
            text-align: center;
}
.pantallacentral{
            width: 500px;
            height: 300px;
            margin-top: 5px;
            background-color: rgb(224, 224, 88);
            border-radius: 25px;
            border-width: 10px;
            border-color: rgb(100, 100, 100);
            border-style: solid;     
}
#botderecha{
            margin-top: 100px;
            margin-left: 8px;
            margin-right: 15px;
}
.boton{
            width: 50px;
            height: 30px;
            margin-top: 10px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            background-color: whitesmoke;
            border-radius: 5px;
            border-width: 2px;
            border-color: black;
            border-style: solid; 
}
.flecha{
            width: 35px;
            height: 25px;
            flex: none;
}
#tecladonum{
            width: 215px;
            height: 260px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
}
.tecla{
            width: 50px;
            height: 50px;
            margin-top: 7px;
            margin-left:7px;
            margin-right: 7px;
            background-color: rgb(210, 210, 210);
            border-radius: 5px;
            border-width: 3px;
            border-color: black;
            border-style: solid;
            font-size: 27px;
            font-weight: bold;
}
#comando{
            width: 125px;
            height: 260px;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
}
.comdopciones{
            width: 120px;
            height: 50px;
            margin-top: 9px;
            margin-bottom: 7px;
            border-radius: 5px;
            border-width: 3px;
            border-color: black;
            border-style: solid;
            font-size: 27px;
            font-weight: bold;
            color:white
            
}
#comdcancel{
            background-color: rgb(255, 0, 0);
}
#comdclear{
            background-color: rgb(255, 125, 0);
}
#comdok{
            background-color: rgb(5, 200, 5);
}
#comdvacio{
            background-color: rgb(100, 100, 100);
}
#extras{
            width: 300px;
            height: 260px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
}
.ranurapeq{
            width: 125px;
            height: 40px;
            margin-top: 5px;
            margin-left: 12.5px;
            margin-right: 12.5px;
            justify-content: left;
}
.ranuragrand{
            width: 275px;
            height: 50px;
            margin-top: 5px;
            margin-bottom: 1px;
            margin-left: 5px;
            margin-right: 1px;
            justify-content: left;
}
.texto{
            margin-top: 5px;
            margin-left: 8px;
            margin-bottom: 1px;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 18px;
            font-weight: bold;
            color:white;
}
hr{
            width: 95%;
            height: 7px;
            background-color: black;
            border-radius: 5px;
            border-width: 10px;
            border-style: solid;
            border-color: rgb(90, 90, 90);
}